@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --nav-font: Inter;
    --titles-font: "Playfair Display";

    --background-color: #f7f7f5;
    --secondary-background: #ffcccc;

    --icon-height: 1rem;
    --border: 1px solid black;
}

/* GENERAL */

body {
    margin: 0;
    background-color: var(--background-color);

    a {
        text-decoration: none;
        color: unset;
        font-family: var(--nav-font);
        text-transform: uppercase;
    }
    
    a h3 {
        font-family: var(--titles-font);
        text-transform: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .icon {
        width: 1.5rem;
    }
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
}

.header1 {
    display: none;
    background-color: black;
    color: white;
    padding-right: 1rem;

    nav {
        display: flex;
        gap: 1rem;
        justify-content: end;
    }
}

.header2 {
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: calc(100% - 4rem);

    button {
        all: unset;
        cursor: pointer;
        img {
            max-width: 1.5rem;
        }
    }

    .date-and-tagline {
        display: none;
        vertical-align: middle;
        font-family: var(--nav-font);
        text-transform: uppercase;

        p {
            margin: 0;
        }

        .date {
            font-weight: bolder;
        }
    }

    .logo {
        width: 16rem;
        height: 4rem;
    }
}

.header3 {
    .donate-and-newsletter {
        display: flex;
        flex-direction: column;
        border: var(--border);
        margin: 1.5rem;
        padding: 1rem;
        background-color: white;
    }

    .categories-nav {
        position: fixed;
        background-color: var(--background-color);
        top: calc(3rem + 43.4px);
        left: 0;
        width: 67vw;
        height: calc(100vh - 3rem - 43.4px);
        transition: left 0.3s;

        .categories {
            border: var(--border);
            display: flex;
            flex-direction: column;
            margin: 1rem;
            padding: 2rem;
            gap: 1rem;
            align-items: center;
            height: calc(100vh - 9rem - 43.4px);
        }
    }

    .categories-nav.closed {
        left: -67vw;
        transition: left 0.3s;
    }
}

.menu-button {
    z-index: 1;

    .menu-icon {
        display: none;
    }

    .close-icon {
        display: block;
    }
}

header:has(.categories-nav.closed) .menu-button {
    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }
}

#alert-container {
    position: fixed;
    top: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: transform 200ms;
}

#alert-container.hidden {
    transform: translateY(-6rem);
}

#alert-message {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    
    .posts {
        .post {
            max-width: 22rem;
        }
    }
}

@media only screen and (min-width: 1025px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .header1 {
            width: 100%;
            display: block;
        }

        .header2 {
            width: calc(100% - 4rem);
            max-width: calc(80rem - 4rem);

            .date-and-tagline {
                display: block;
            }
        }

        .header3 {
            width: 100%;
            max-width: 80rem;
            
            .donate-and-newsletter {
                display: none;
            }
            
            .categories-nav, .categories-nav.closed {
                position: unset;
                height: unset;
                width: calc(100% - 3rem);

                .categories {
                    height: unset;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    padding: 0.5rem;
                }
            }
        }

        .menu-button {
            display: none;
        }
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        main {
            margin-top: 12rem;
            width: 100%;
            max-width: 80rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .posts.front-page {
                display: grid;
                grid-template-columns: 22rem 22rem 22rem;
                grid-template-rows: auto;
                grid-template-areas:
                    "a a a"
                    "b c d";
                
                .post:nth-of-type(1) {
                    grid-area: a;
                    width: calc(68rem - 2px); /* 3x normal width + 2x gap - 2x border */
                    max-width: calc(68rem - 2px);

                    display: grid;
                    grid-template-rows: 30rem 3rem;
                    grid-template-columns: 22rem 44rem;

                    grid-template-areas: 
                        "b a"
                        "c a";

                    *:nth-child(1) {
                        grid-area: a;
                    }

                    *:nth-child(2) {
                        grid-area: b;
                    }

                    *:nth-child(3) {
                        grid-area: c;
                    }

                    p {
                        font-family: var(--nav-font);
                        text-transform: none;
                        margin: 1rem;
                    }

                    img {
                        max-height: 100%;
                        height: 100%;
                        border-left: var(--border);
                    }
                }
                .post:nth-of-type(2) {
                    grid-area: b;
                }
                .post:nth-of-type(3) {
                    grid-area: c;
                }
                .post:nth-of-type(4) {
                    grid-area: d;
                }
            }
        }
    }
}